.login-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally (X-axis) */
  justify-content: center; /* Center vertically (Y-axis) */
  height: 100vh;
  text-align: center;
}
  
  .form-group {
    margin: 10px;
  }
  
  form {
    width: 100%;
    max-width: 400px;
    margin: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  button {
    font-size: 20px;
    margin: 5px;
    padding: 10px 20px;
  }
  